################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/gabycakes.Angular/.vs
/GabyCakes.API/obj
